/* Common Styles */
* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

/* Navbar */
.header {
    height: 1150px;
    background: rgba(255, 144, 14, 0.1);
}

.navbar {
    display: flex;
    align-items: center;


}

nav ul li a {
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #424242;


}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    margin-top: 50px;
    margin-left: 300px;
}

.nav-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #131313;
    margin-top: 50px;
    margin-left: 228px;

}



/* Banner */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.banner-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
    margin-top: 115px;

}

.banner-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-top: 30px;
}

.banner-btn {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    margin-top: 30px;

}

.banner-img {
    border-radius: 8px;
    width: 1050px;
    height: 525px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;

}

/* Quick Features */
.features {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 708px;
    height: 708px;
}

.feature-info {
    margin-left: 73px;

}

.feature-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #727272;

}

.f1 {
    color: #131313;

}

.f2 {
    color: #FF900E;
}

.feature-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

/* Love and Enjoy Feature */
.love-enjoy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enjoy-info hr {
    position: absolute;
    width: 5px;
    height: 106px;
    left: 90px;
    top: 2115px;
    background: #FF900E;
    border: 0;
}

.enjoy-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 170px;
}

.enjoy-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
}

.l-features {
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 30px;
}

.f-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.f-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.fe-img img {
    width: 600px;
    height: 860px;
    margin-left: 50px;
}

.fe-btn {
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    border: 0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 765px;
    top: 2860px;

}

.fe-btn span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

/* some facts */
.some-facts {
    margin-left: 108px;
}

.facts-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 130px;
}

.facts-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
}

.fact {
    display: flex;
    flex-direction: column;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-top: 100px;
    Transition: border-radius 2s; 

}
.fact:hover{
    border-radius: 100px;


}

.facts {
    display: flex;
    justify-content: space-evenly;

}

.fact img {
    width: 45.22px;
    height: 45.22px;
    margin-top: 45px;
    margin-left: 97px;
    Transition: width 2s, height 2s; 
}
.fact img:hover{
    width: 65.22px;
    height: 65.22px;

}

.fact-no {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    text-align: center;
    margin-top: 10px;

}

.fact-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    text-align: center;
    margin-top: 5px;

}

/* Our Sponsors */

.sponsor-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-top: 180px;


}

.s-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-top: 24px
}

.logos {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

/* Footer */
.footer {
    width: 1300px;
    height: 100px;
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 75px;
}

.ft-text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding-top: 40px;
}